@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #F7F5F1;
  color: #1F2937;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}
